<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/Main.css">
    {% block head %} {% endblock %}
</head>
<body>
    {% include "./Components/Navar.html" %}
    <main class="account_main">
        {% include "./Components/Account/Aside.html" %}
        {% block app %} {% endblock %}
    </main>
    {% include "./Components/Footer.html" %}
</body>
</html>