{% extends "./../../Main.html" %}

{% block head %}
<title>Ingresar | RentaCar</title>
<link rel="stylesheet" href="/css/Auth.css">
{% endblock %}

{% block app %}
<section>
    <form action="/auth/login" method="POST">
        <header>
            <h2>Ingresar</h2>
            <p>Accede a tu cuenta para disfrutar de una experiencia personalizada. ¡Bienvenido de vuelta!</p>
        </header>
        <label for="username">RUT/RUN</label>
        <input type="text" name="username" id="_rn">

        <label for="password">Contrasena</label>
        <input type="password" name="password" id="_password">

        <button type="submit">Ingresar</button>
        <p class="helper center">Si no posees una cuenta, registrate haciendo clic en el siguiente enlace: <a href="/auth/register">Registrate Ahora</a>.</p>
    </form>
</section>


<script>
    let input_rut = document.getElementById('_rn');
    let form_date = document.querySelector('form');

    function validarRut(rut) {
        const [numero, digitoVerificador] = rut.split('-');
        const formato = /^\d{7,8}-\d$/.test(rut);

        let suma = 0;
        let multiplicador = 2;

        for (let i = numero.length - 1; i >= 0; i--) {
            suma += parseInt(numero.charAt(i)) * multiplicador;
            multiplicador = multiplicador === 7 ? 2 : multiplicador + 1;
        }

        const resultado = 11 - (suma % 11);
        const digitoEsperado = resultado === 11 ? 0 : resultado;

        console.log(parseInt(digitoVerificador) === digitoEsperado)

        return formato && parseInt(digitoVerificador) === digitoEsperado;
    }

    form_date.addEventListener('submit', (e) => {
        if(!validarRut(input_rut.value)) {
            e.preventDefault();
            input_rut.classList.add('error')
        };
    })
</script>
{% endblock %}